
{{#each articles}}
<li class="articles list-group-item">
    {{#if ../loggedIn}}
        <button data-id="{{_id}}" data-placement="right" 
        {{#if bookmarked}} disabled {{/if}} class="btn float-right mr-2 px-1 py-0 
        {{#if ../bookmarks}}
            delete-bookmark-btn " title="Delete!">
                <i class="fas fa-trash-alt"></i>
        {{else}}
            bookmark-btn" title="Bookmark!">
                <i class="fas fa-bookmark"></i>
        {{/if}}             
        </button>
    {{/if}}
    <h5>{{headline}}</h5>
    <p>{{summary}}</p>
    <div class="row">
        <div class="col">
            <a href="{{link}}" class="btn read-button"><small>Read Article</small></a>
        </div>
        <div class="col text-right">
            <button class="btn comment-btn collapsed" data-toggle="collapse" data-target="#a{{_id}}"><small>Comments</small></button>
        </div>
    </div>
    <div id="a{{_id}}" class="collapse m-3">
        <form class="comment-form my-4" data-id="{{_id}}">
            <fieldset {{#unless ../loggedIn}} disabled {{/unless}}>
                <div class="form-group">
                    <input type="text" class="form-control-plaintext text-white comment-author" 
                    value="{{#if ../loggedIn}} {{../dbUser.username}} {{else}} Please sign in to post a comment! {{/if}}" readonly>
                </div>
                <div class="form-group">
                    <textarea rows="3" style="resize: none" class="form-control comment-body" placeholder="Comment" required></textarea>
                </div>
                <button class="btn float-right" type="submit">Submit</button>
            </fieldset>
        </form>
        <br><br> 
        <ul class="list-group comment-list" data-id="{{_id}}">
            {{#each comment}}
                {{> comments}}
            {{/each}}
        </ul>
    </div>
</li>
{{/each}}