<div class="container d-flex flex-column justify-content-center" style="height: 100vh">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">{{title}}</h1>
            <p class="lead">{{message}}</p>
            <a href="{{link}}" class="btn">{{linkName}}<img src="{{imgSrc}}"></a>
        </div>
    </div>
</div>